# 忽略 node_modules（前后端都有）
**/node_modules/

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 前端 Vue 项目的构建文件（目录为 frontend）
frontend/dist/

# Vue 项目中的 local env 文件
frontend/.env*
frontend/.vitepress/dist

# Strapi 后端项目的构建缓存和上传文件
blog-backend/.tmp/
blog-backend/build/
blog-backend/public/uploads/

# Strapi 项目的环境变量文件
blog-backend/.env*

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
